<div class="bg-dark border-right p-3" id="side">
  <h3 class="text-light">
    Gifs-App
  </h3>
  <hr class="text-light" />
  <p class="text-light mt-3">Historial</p>
  <div class="list-group list-reset">
    <a href=# (click)='buscar(busqueda)' class="list-group-item list-group-item-action pe-auto" *ngFor="let busqueda of historial">
      {{busqueda | titlecase}}
    </a>
  </div>
  <div class="d-grid gap-1 mt-2" *ngIf="historial.length>0">
    <button 
      class="btn btn-danger"
      (click)='borrarHistorial()'
    >
      Borrar Historial
    </button>
  </div>
</div>